# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.

#---------------------------------#
#      general configuration      #
#---------------------------------#

# version format
version: 1.0.{build}

# you can use {branch} name in version format too
# version: 1.0.{build}-{branch}

# Skipping commits affecting specific files (GitHub only). More details here: /docs/appveyor-yml
#skip_commits:
#  files:
#    - docs/*
#    - '**/*.html'

# Including commits affecting specific files (GitHub only). More details here: /docs/appveyor-yml
#only_commits:
#  files:
#    - Project-A/
#    - Project-B/

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

# Maximum number of concurrent jobs for the project
max_jobs: 1

#---------------------------------#
#    environment configuration    #
#---------------------------------#

# Build worker image (VM template)
image: Visual Studio 2019

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input
  - npm config set msvs_version 2019

# clone directory
clone_folder: c:\projects\myproject

# fetch repository as zip archive
shallow_clone: true # default is "false"

# set clone depth
clone_depth: 5 # clone entire repository history if not defined

# environment:
#  global:
#    connection_string: server=12;password=13;
#    service_url: https://127.0.0.1:8090
#
#  matrix:
#  - db: mysql
#    provider: mysql
#
#  - db: mssql
#    provider: mssql
#    password:
#      secure: $#(JFDA)jQ@#$

# build cache to preserve files/folders between builds
cache:
  - packages -> **\packages.config # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified
  - projectA\libs
  - node_modules # local npm modules
  - '%LocalAppData%\NuGet\Cache' # NuGet < v3
  - '%LocalAppData%\NuGet\v3-cache' # NuGet v3

# scripts that run after cloning repository
install:
  # by default, all script lines are interpreted as batch
  - echo This is batch

#---------------------------------#
#       build configuration       #
#---------------------------------#

# to add several platforms to build matrix:
#platform:
#  - x86
#  - Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

# to add several configurations to build matrix:
#configuration:
#  - Debug
#  - Release

# to run your custom scripts instead of automatic MSBuild
build_script:
  - sh: ./build.sh
# to disable automatic builds
#build: off

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#
artifacts:
  - path: "my-app/out/make/*.*"
    name: "Electron-Demo"
